@page "/"
@using SampleBlazorApp.Shared.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<Strings> Loc

<h1>@Loc["Hello"]</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
